<div>
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <link rel="stylesheet" href="/css/nav.css">
        <script src="/js/nav.js"></script>
        <nav class="uk-background-secondary uk-light" style="height: 2cm" uk-navbar>
            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li class=""><a href="/home" id="navEntry">Home</a></li>
                    <li>
                        <a href="#">Parent</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Item</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#" class="uk-active"><%=username%></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="bar green">
        <div class="bar-item" id="online-players">Online Players - <%=onlinePlayers%></div>
        <div class="bar-item">|</div>
        <div class="bar-item" id="unique-players">Unique Players - <%=uniquePlayers%></div>
        <div class="bar-item">|</div>
        <div class="bar-item" id="proxy-status">Proxy <%=proxyStatus%></div>
        <div class="bar-right-item" id="mojang-status">Mojang Status - <%=mojangStatus%></div>
    </div>
    <script>
        highlight()
    </script>
</div>
